body{
	
	font-family: 'Raleway', sans-serif;
	}
	/* Rounded border */
	hr.dotted {
		border-top: 3px dotted #116e85;
	  }
	/******************************************/
	#menu
	{
	position: fixed;
	width: 100%;
	height: 35px;
	/* margin: 10px 20px 30px 40px; */
	padding: 10px;
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	background-color: white;
	}
	.menu-4 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	}
	.menu-4 * {
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	}
	.menu-4 li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 1.5em;
	overflow: hidden;
	}
	.menu-4 a {
	padding: 0.3em 0;
	color: #212121;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	margin: 0;
	text-decoration: none;
	}
	.menu-4 a:before,
	.menu-4 a:after {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	}
	.menu-4 a:before {
	bottom: 100%;
	display: block;
	height: 3px;
	width: 100%;
	content: "";
	background-color: #116e85;
	}
	.menu-4 a:after {
	padding: 0.3em 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	content: attr(data-hover);
	color: #212121;
	white-space: nowrap;
	}
	.menu-4 li:hover a,
	.menu-4 .current a {
	transform: translateY(100%);
	}
	
	li {
	float:left;
	}
	
	a {
	display: block;
	padding: 8px;
	}
	section {
	text-align: center;
	}
	/******************************************/
	
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	}
	
	/* Create four equal columns that sits next to each other */
	.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	}
	
	.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	}
	
	/* Responsive layout - makes a two column-layout instead of four columns */
	@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
	}
	
	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
	}
	/******************************************/
	input[type=text], select, textarea {
	width: 50%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	}
	
	
	/* Style the submit button with a specific background color etc */
	input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	}
	
	/* When moving the mouse over the submit button, add a darker green color */
	input[type=submit]:hover {
	background-color: #45a049;
	}
	/* Style the submit button with a specific background color etc */
	input[type=reset] {
	background-color: grey;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	}
	
	/* When moving the mouse over the submit button, add a darker green color */
	input[type=reset]:hover {
	background-color: #868886;
	}
	
	/* Add a background color and some padding around the form */
	.container {
	border-radius: 5px;
	padding: 20px;
	}
	
	.like{
		position: relative;
		left: 550px;
	}
	.like1{
		position: relative;
		left: 550px;
	}